In [69]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import gender_guesser.detector as gender
# this allows plots to appear directly in the notebook
%matplotlib inline
plt.rcParams['figure.figsize'] = (21,15)
import matplotlib.patches as mpatches
from easymoney.money import EasyPeasy
from economics import CPI
from economics import Inflation

In [70]:
dbname = 'federal_employment'
username = 'stephaniesherman'
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username)

In [71]:
# query:
name_query = """
SELECT employee_id, employee_name 
FROM public.employee_info 
WHERE country = '001' and month = '12' and employee_name != 'NAME WITHHELD BY OPM' and employee_name != 'NAME WITHHELD BY AGENCY' 
and employee_name != 'NAME UNKNOWN'
;
"""
names = pd.read_sql_query(name_query,con)
names.head()

  employee_id           employee_name
0   005525563     GRAYBILL,KRISTIN R.
1   005525582       TALFORD,ROBERT H.
2   005527405  JORQUERA,MARIO ENRIQUE
3   005533994         COBBS,GLADYS M.
4   005534678     STRAUSS,LINDA HYMAN

In [72]:
names.shape

(5195789, 2)

In [73]:
names.drop_duplicates('employee_id', inplace = True)

In [74]:
###data cleaning
names['employee_name']= names['employee_name'].str.replace(',', ' ')
names['employee_name']= names['employee_name'].str.replace('JR', '')
names['employee_name']= names['employee_name'].str.replace('JR.', '')
names['employee_name']= names['employee_name'].str.replace('III', '')
names['employee_name']= names['employee_name'].str.replace('II', '')

In [75]:
parts_of_name=names['employee_name'].str.split(' ').tolist()
split_names=pd.DataFrame.from_records(parts_of_name)

In [76]:
###remove . in middle initial 
#split_names[1]=split_names[1].str.replace('.','')

In [77]:
d = gender.Detector(case_sensitive=False)

In [78]:
first_names = []
for n in split_names.index:
    if split_names[1][n] is None:
        first_names.append(None)
    elif len(split_names[1][n]) > 1:
        first_names.append(split_names[1][n])
    else: first_names.append(split_names[2][n])

In [79]:
split_names.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,GRAYBILL,KRISTIN,R.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,TALFORD,ROBERT,H.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,JORQUERA,MARIO,ENRIQUE,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,COBBS,GLADYS,M.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,STRAUSS,LINDA,HYMAN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
5,SHOVEN,HEATHER,A.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
6,SCULLY,CAROLYN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
7,MCCLINTOCK,JAMES,T.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
8,JONES,MONAJOI,J.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
9,WAGNER,JANICE,K.,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [80]:
gender = []
for fn in first_names:
    if fn is None:
        gender.append(None)
    else:
        gender.append(d.get_gender(fn))

In [81]:
names['gender'] = gender

In [82]:
names['gender'].value_counts()

male             256443
female           197585
unknown          146158
mostly_female     20626
mostly_male        9811
andy               3481
Name: gender, dtype: int64

In [84]:
names[names['gender']=='unknown'].tail(100)

        employee_id            employee_name   gender
5190123   005483301          NTIM KWAME SAFO  unknown
5190133   005488427        CORTELL RANON DOV  unknown
5190136   005489927       MELENDEZ KASIMMA P  unknown
5190197   005520576    TOBY PROMISE GEOFFREY  unknown
5190245   005560436           MYRIE KENUTE A  unknown
5190296   005600189       ANDERSON ANIUTEA F  unknown
5190308   005608818        AYANA RIBKA ASEFA  unknown
5190342   005639721  JACKSON SETETRA LYNETTE  unknown
5190375   005659113             PAPPU SUGUNA  unknown
5190388   005675431       COHEN-MEGORI SEGAL  unknown
5190389   005676367        HEWITT CHEYDENE R  unknown
5190448   005730595    HERNANDEZ HANIEL JOSE  unknown
5190499   005757998      MATHEW ALVEENA JOSE  unknown
5190650   005884048       NDI EVARISTUS KOBI  unknown
5190669   005890135      WICKHAM STEPHAINE J  unknown
5190670   005890527             SEUNG JUHEON  unknown
5190723   005912856         ENDREDI JOZSEF J  unknown
5190733   005921261   STEPHENSON KITTREDGE T  unknown
5190776   005949273           SWARTZ DAVIE A  unknown
5191029   006146364        STILWELL KARISA L  unknown
5191058   006161660        ONYIMADU CHIMDI I  unknown
5191065   006164286      IKEH ONYINYE SUNDAY  unknown
5191067   006164608             NIANE NENE B  unknown
5191070   006165194          STOKES DELANE A  unknown
5191133   006212383   FEINER-ESCOTO CORI-ANN  unknown
5191198   006277327            WILKES VANA M  unknown
5191219   006294763    QUIMOYOG MARKJAYSON B  unknown
5191257   006329902  THIBODEAU JEANNIN MARIE  unknown
5191346   006396513      SHECKLER HILLIARY G  unknown
5191561   006561404        SORIANO YUKMILA M  unknown
...             ...                      ...      ...
5193967   009206057   WHITLOCK DAMIENANTONIO  unknown
5193986   009215494          TAYAG AYDELFE D  unknown
5193988   009216329   BAYLOSIS JAXIMILLIAN P  unknown
5193990   009216645        OBISESAN FOLUKE G  unknown
5194046   009241932       THOMAS ELSHAWANA M  unknown
5194344   009502265  SAMUEL CYNTHIYA HEMANTH  unknown
5194370   009515182     CARTER TERETHA RENEA  unknown
5194399   009536356            SYED NUZHAT F  unknown
5194479   009600873          IORILLO LUCYANN  unknown
5194482   009602190             BERG BAREN L  unknown
5194499   009622520   CONKLIN KIMAOUI ERIN C  unknown
5194513   009633169              CHEN AILIEN  unknown
5194779   009859401    CASTILLO OROSCO EMILY  unknown
5194788   009865814    DUNCAN REKEESHA LATEE  unknown
5194879   009943180      CHALLAPALLI HARITHA  unknown
5194924   009987317          NGUYEN TO-NGA T  unknown
5194996   010021733      GBOLADE OLUKAYODE O  unknown
5195018   010032166     CAMPBELL JAREE LEWIS  unknown
5195019   010033118       OJI CHINELO YVETTE  unknown
5195041   010045127         MCDAVID KYERIA L  unknown
5195047   010047403       FERGUSON SIOHBAN C  unknown
5195092   010067902            TUNKARA NYIMA  unknown
5195100   010071158           GEORGE TAURA U  unknown
5195221   010231480             BHAT SUPRIYA  unknown
5195240   010348818             DE LOTTO JAI  unknown
5195403   010497546          LO-GUEYE YAYE K  unknown
5195561   010696126         AHMAD MAJEEDAH A  unknown
5195571   010703483         LEWIS JWAN DONTA  unknown
5195636   010786384      RODRIGUEZ LISABEL M  unknown
5195756   006391522     STEPHENSON KALINDA M  unknown

[100 rows x 3 columns]

In [62]:
names.to_csv('/Users/stephaniesherman/Dropbox/insight_data_science_program/opm_federal_employment_data/fedscope_buzzfeed/gender.csv',index = False)

In [ ]:
##query was this
##COPY public.gender (employee_id, employee_name, gender)
##FROM '/Users/stephaniesherman/Dropbox/insight_data_science_program/opm_federal_employment_data/fedscope_buzzfeed/gender.csv' DELIMITER ',' CSV HEADER;

In [91]:
#########gives all the males and females I have identified

# query:
gen_query = """
SELECT employee_info.*, gender.gender
FROM public.employee_info
LEFT JOIN gender ON employee_info.employee_id = gender.employee_id
WHERE gender.gender = 'female' or gender.gender = 'mostly_female' or gender.gender = 'mostly_male' or gender.gender = 'male';
"""

gend = pd.read_sql_query(gen_query,con)

In [92]:
gend['gender'] = gend['gender'].str.replace('mostly_','')

In [93]:
gend['education_level']=pd.to_numeric(gend['education_level'],errors = coerce)
gend=gend[gend['education_level']!=99.0]

In [101]:
##get only full-time employees
gend = gend[gend['nsftp']=='1.0']

In [103]:
gender_dict = dict({'female':0,'male':1})

In [104]:
gend['gender']=gend['gender'].map(gender_dict)

In [105]:
los_num=dict({'< 1': .5, '1-2': 1.5,'3-4':3.5, '5-9': 7,'10-14':12, '15-19': 17, '20-24':22,'25-29': 27,'30-34': 32,'35+': 35})
gend['length_of_service'] = gend['length_of_service'].map(los_num)

In [107]:
gend['supervisory_status'].value_counts()

8    3574331
2     388964
1     332509
5     143400
3      98193
4      41635
6      17126
7      10847
Name: supervisory_status, dtype: int64

In [108]:
gend[gend['supervisory_status']=='8'].head()

,id,employee_id,employee_name,year,month,day,date,agency,sub_agency,state,...,pay_grade,length_of_service,occupation,occupational_cat,adjusted_basic_pay,supervisory_status,type_of_appointment,work_schedule,nsftp,gender
1,80535533,000769609,"COLE,ROSALYN",2000,12,13,2000-12-13,VA,TA,39,...,13,17.0,0671,A,62343.0,8,10,F,1.0,0
2,80536388,000800306,"BOZAKIS,DIANNE K",2000,12,13,2000-12-13,VA,TA,12,...,02,7.0,0610,P,42816.0,8,38,F,1.0,0
4,80536519,000804466,"LANGFORD,MARVIN E",2000,12,13,2000-12-13,VA,TA,12,...,12,22.0,0603,A,65179.0,8,38,F,1.0,1
5,80536531,000804917,"MCGUFFIN,DALE R",2000,12,13,2000-12-13,VA,TA,16,...,02,7.0,3566,B,20494.0,8,38,F,1.0,1
6,80536643,000810306,"GIROUX,ELIZABETH L",2000,12,13,2000-12-13,VA,TA,36,...,06,12.0,0620,T,31760.0,8,38,F,1.0,0

In [109]:
####data cleaning
sup = dict({'8': 0, '5':0, '4': 0,'1':1, '2': 1, '6': 1, '7':1})
gend['supervisory_status']=gend['supervisory_status'].map(sup)

In [120]:
###calculate inflation How many US $ would I need in 2011 to pay for what cost $5 in 2007
ep = EasyPeasy()

In [124]:
gend = gend.dropna()

In [125]:
gend.shape

(4284304, 25)

In [126]:
pay_inflation = map(lambda x,y: ep.normalize(x, region='USA',from_year = y, to_year = 'latest'),gend['adjusted_basic_pay'],gend['year'])

In [127]:
gend['pay_inflation'] = pay_inflation

In [128]:
gend.to_csv('/Users/stephaniesherman/Dropbox/insight_data_science_program/opm_federal_employment_data/fedscope_buzzfeed/gender_across_time_inflation.csv', index = False)