In [69]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import string
import gender_guesser.detector as gender
%matplotlib inline
plt.rcParams['figure.figsize'] = (21,15)
import matplotlib.patches as mpatches
from easymoney.money import EasyPeasy
from economics import CPI
from economics import Inflation

In [70]:
dbname = 'federal_employment'
username = 'stephaniesherman'
# connect:
con = None
con = psycopg2.connect(database = dbname, user = username)

In [71]:
# query to get all the employee names
name_query = """
SELECT employee_id, employee_name 
FROM public.employee_info 
WHERE country = '001' and month = '12' and employee_name != 'NAME WITHHELD BY OPM' and employee_name != 'NAME WITHHELD BY AGENCY' 
and employee_name != 'NAME UNKNOWN'
;
"""
names = pd.read_sql_query(name_query,con)
names.head()

  employee_id           employee_name
0   005525563     GRAYBILL,KRISTIN R.
1   005525582       TALFORD,ROBERT H.
2   005527405  JORQUERA,MARIO ENRIQUE
3   005533994         COBBS,GLADYS M.
4   005534678     STRAUSS,LINDA HYMAN

In [72]:
names.shape

(5195789, 2)

In [73]:
names.drop_duplicates('employee_id', inplace = True)

In [74]:
###data cleaning
names['employee_name']= names['employee_name'].str.replace(',', ' ')
names['employee_name']= names['employee_name'].str.replace('JR', '')
names['employee_name']= names['employee_name'].str.replace('JR.', '')
names['employee_name']= names['employee_name'].str.replace('III', '')
names['employee_name']= names['employee_name'].str.replace('II', '')

In [75]:
parts_of_name=names['employee_name'].str.split(' ').tolist()
split_names=pd.DataFrame.from_records(parts_of_name)

In [76]:
###remove . in middle initial 
#split_names[1]=split_names[1].str.replace('.','')

In [78]:
d = gender.Detector(case_sensitive=False)
first_names = []
for n in split_names.index:
    if split_names[1][n] is None:
        first_names.append(None)
    elif len(split_names[1][n]) > 1:
        first_names.append(split_names[1][n])
    else: first_names.append(split_names[2][n])

In [80]:
gender = []
for fn in first_names:
    if fn is None:
        gender.append(None)
    else:
        gender.append(d.get_gender(fn))

In [82]:
names['gender'] = gender
names['gender'].value_counts()

male             256443
female           197585
unknown          146158
mostly_female     20626
mostly_male        9811
andy               3481
Name: gender, dtype: int64

In [62]:
names.to_csv('/Users/stephaniesherman/Dropbox/insight_data_science_program/opm_federal_employment_data/fedscope_buzzfeed/gender.csv',index = False)

In [91]:
##query was this
##COPY public.gender (employee_id, employee_name, gender)
##FROM '/Users/stephaniesherman/Dropbox/insight_data_science_program/opm_federal_employment_data/fedscope_buzzfeed/gender.csv' DELIMITER ',' CSV HEADER;
#########gives all the males and females I have identified

# query:
gen_query = """
SELECT employee_info.*, gender.gender
FROM public.employee_info
LEFT JOIN gender ON employee_info.employee_id = gender.employee_id
WHERE gender.gender = 'female' or gender.gender = 'mostly_female' or gender.gender = 'mostly_male' or gender.gender = 'male';
"""

gend = pd.read_sql_query(gen_query,con)

In [92]:
###Data Cleaning
## remove mostly from gender identification, clean education column, get only full-time employees
gend['gender'] = gend['gender'].str.replace('mostly_','')
gend['education_level']=pd.to_numeric(gend['education_level'],errors = coerce)
gend=gend[gend['education_level']!=99.0]
gend = gend[gend['nsftp']=='1.0']

In [103]:
#####make categorical variables into numeric and drop NAs
gender_dict = dict({'female':0,'male':1})
gend['gender']=gend['gender'].map(gender_dict)
los_num=dict({'< 1': .5, '1-2': 1.5,'3-4':3.5, '5-9': 7,'10-14':12, '15-19': 17, '20-24':22,'25-29': 27,'30-34': 32,'35+': 35})
gend['length_of_service'] = gend['length_of_service'].map(los_num)
sup = dict({'8': 0, '5':0, '4': 0,'1':1, '2': 1, '6': 1, '7':1})
gend['supervisory_status']=gend['supervisory_status'].map(sup)
gend = gend.dropna()

In [120]:
###calculate inflation
ep = EasyPeasy()
pay_inflation = map(lambda x,y: ep.normalize(x, region='USA',from_year = y, to_year = 'latest'),gend['adjusted_basic_pay'],gend['year'])
gend['pay_inflation'] = pay_inflation

In [128]:
gend.to_csv('/Users/stephaniesherman/Dropbox/insight_data_science_program/opm_federal_employment_data/fedscope_buzzfeed/gender_across_time_inflation.csv', index = False)